GEMINI_KEY=your_key_here
ALPHA_VANTAGE_KEY=your_key_here
SENDER_EMAIL=sender_email_here
RECEIVER_EMAIL=receiver_email_here
EMAIL_PASSWORD=sender_email_app_password_here
EARNINGS_KEY=your_key_here
SMTP_SERVER=smtp_server_here
SMTP_PORT=smtp_port_here